[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
blessed = "*"
requests = "*"
ndjson = "*"

[requires]
python_version = "3.8"

[scripts]
game = "python game.py"

game_env = "$SHELL -c 'source .env && python game.py'"